.post_list{
    display: flex;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;

}


.post_title{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post_title h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}


.post_title h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}


.search{
    margin-top: 50px;
    align-self: flex-end;
    width: 315px;
    height: 44px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

form{
    display: flex;
    align-items: center;
}

.search form input{
    width: 280px;
    height: 44px;
    padding-left: 10px;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    overflow: hidden;
}

form button{
    outline: none;
    background: transparent;
    border: none;
}

form button i{
    font-size: 20px;
    color: #D7DADD;
}

form button i:hover{
    cursor: pointer;
    color: #b1b4b6;
}

.course_header_text h3{
    font-size: 16px;
    color: #1E212C;
}

.course_header_text h1{
    font-weight: 900;
font-size: 46px;
}

.posts{
    margin-top: 100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}

.post_card{
    height: 507px;
    width: 30%;
}



.card_image{
    height: 300px;
    width: 390px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

.card_date h1{
    padding-top: 5px;
    font-size: 14px;
    color:  #787A80;
    text-align: left;
}

.card_desc{
    text-align: left;
}

.card_desc h1{
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;

}

.card_desc h2{
    padding-top: 10px;
    font-size: 16px;
    color: #424551;
    height: 50px;
    overflow: hidden;
}


.card_desc a{
    display: block;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.card_desc a:hover{
    text-decoration: underline;
    color: #F75E05;
}