{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" rel="noopener" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}

{% block header_content %}
<div class="header_content_main">
    <div class="header_text">
        <h1 class="main_text">Comprehend new heights of knowledge with our platform</h1>
        <a href="{% url 'courses' %}">
            <div class="explore_course">Explore Courses</div>
        </a>
    </div>

    <div class="statistics">
        <div class="statistic">
            <h1>120</h1>
            <h2>Users in platform</h2>
        </div>
        <div class="statistic">
            <div class="dot">·</div>
            <h1>8+</h1>
            <h2>Completed courses</h2>
        </div>
        <div class="statistic">
            <div class="dot">·</div>
            <h1>9+</h1>
            <h2>Team Members</h2>
        </div>
        <div class="statistic">
            <div class="dot">·</div>
            <h1>1</h1>
            <h2>Year of experience</h2>
        </div>
    </div>
</div>


{% endblock %}

{% block content %}
<div class="container">
    <div class="recently">
        <h1>RECENTLY</h1>
        <div class="recent_blogs">
            {% for post in posts %}
            <div class="post_card">          
                <img class="card_image" src="{% static 'image/python.png' %}" alt="">
                <div class="card_date">
                    <h1>{{ post.created_on }}</h1>
                </div>
                <div class="card_desc">
                    <h1>{{ post.title }}</h1>
                    <a class="card_read" href="{% url 'post' post.slug %}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="featured_course">
        <div class="courses_content_header">
            <div class="course_header_text">
                <h3>READY TO LEARN?</h3>
                <h1>Featured Courses</h1>
            </div>

            <a href="{% url 'courses' %}" class="all_courses_btn">View all courses</a>
        </div>
        <div class="featured_course_content">

            {% for course in courses %}
            <div class="course_card" style="cursor: pointer;" onclick="window.location='{% url " course" course.slug
                %}';">
                <img class="course_card_image" src="{% static 'image/JavaScript.png' %}" alt="">
                <div class="course_card_text">
                    <a href="" class="course_level">Beginner</a>
                    <a href="{% url " course" course.slug %}" class="course_title">{{ course.title }}</a>
                </div>
                <a class="bookmark" onclick="send_req('{% url 'save_course' course.slug %}', 'POST')"><img
                        src="{% static 'icons/bookmark-white.png' %}" alt=""></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <h2>TESTIMONIALS</h2>
        <h1>What our students say</h1>
        <div class="slider">
            <div class="reviews">
                <div class="review_container">
                    <div class="review_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus
                        lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare
                        turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu
                        diam maecenas diam integer in.
                    </div>
                    <div class="review_author">
                        <img class="author_pfp" src="{% static 'image/pfp.png' %}" alt="">
                        <div class="author_data">
                            <h3 class="author_name">Eleanor Pena</h3>
                            <h3 class="author_status">Position, Course</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}