{% extends "base.html" %}

{% block content %}
    <script>
        function like_course() {
            $.ajax({
                type: "POST",
                url: "{% url 'like_course' object.slug %}",
                data: {
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                },
                success: function (data) {
                    alert(data['message'], data['status'])
                }
            });
        }

        function save_course() {
            $.ajax({
                type: "POST",
                url: "{% url 'save_course' object.slug %}",
                data: {
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                },
                success: function (data) {
                    alert(data['message'], data['status'])
                }
            });
        }
    </script>
    <div>
        <h2>{{ object.title }}</h2>
        <p>{{ object.desc }}</p>
        {% if object.lessons.all|length > 0 %}
            {% for lesson in object.lessons.all %}
            <ul>
                <li><a href="{% url 'lesson' object.slug lesson.slug %}">{{ lesson.title }}</a></li>
            </ul>
            {% endfor %}
        {% endif %}
        <button onclick="like_course()">Like</button>
        <button onclick="save_course()">Save</button>
    </div>

{% endblock %}

