{% extends "base.html" %}
{% load static %}
{% block title %}
<title>{{ object.title }}</title>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" rel="noopener" href="{% static 'css/courses_detail.css' %}">
{% endblock %}
{% block header_content %}
<div class="header_content_main">
    <h3 style="color:#FF3F3A">Course</h3>
    <h1>{{ object.title }}</h1>

</div>


{% endblock %}

{% block content %}
<div class="container">

    <div class="about_course">
        <div class="desc">
            <div class="first_desc">
                <h1>About the course</h1>
                <h3>{{ object.desc }}</h3>
            </div>
            <div class="will_learn">
                <div class="advantage_text">
                    <h1>Course plan:</h1>
                    <div class="advantage_text_list">
                        {% for lesson in object.lessons.all %}
                            <h3 style="cursor: pointer;" onclick="window.location='{% url "lesson" object.slug lesson.slug %}';">
                                <i class='bx bx-check-circle'></i>
                                {{ lesson.title }}
                            </h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="course_join_block">
            <div class="course_image"><img src="{% static 'image/course_image.png' %}" alt="">
                <div class="join_button">
                    {% if object.lessons.all|length > 0 %}
                    <a href="{% url 'lesson' object.slug object.lessons.all.0.slug %}">
                    {% else %}
                    <a href="{% url 'course' object.slug %}">
                    {% endif %}
                        <div class="join">Start the course</div>
                    </a>
                    <button class="like" onclick="send_req('{% url 'like_course' object.slug %}', 'POST')">
                        <i class='bx bxs-like'></i>
                    </button>
                    <button class="save" onclick="send_req('{% url 'save_course' object.slug %}', 'POST')">
                        <i class='bx bxs-bookmark-star'></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}