{% extends "base.html" %}

{% block content %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
    {% comment %} <link rel="stylesheet" title="Github Dark Dimmed" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark-dimmed.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" title="Github Dark" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css"> {% endcomment %}
    <link rel="stylesheet" title="Atom One Dark" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">

    <script>
        hljs.debugMode();
        hljs.highlightAll();
    </script>
    <div>
        <h2>{{ object.course.title }}</h2>
        <h3>{{ object.title }}</h3>
            {{ object.body|safe }}
    </div>
{% endblock %}

